footer {
    position: relative;
    margin-top: auto; /* Membuat footer selalu di bawah konten */
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    flex: 1; /* Membuat konten utama mengambil ruang yang tersisa */
}
